@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");
@import "./components/canvas.css";

* {
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: 0;
    color: white;
    font-family: "Pixelify sans", sans-serif;
    text-shadow: 1px 1px 4px black;
    font-weight: 400;
}

body {
    width: 100%;
    height: 100vh;
    background-color: rgb(25, 25, 37);
    text-align: center;
    align-content: center;
    cursor: url("/assets/cursors/default.cur"), crosshair;
}
